<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.3.xsd
                           http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <bean class="com.gp.vaadin.vaadin_spring_jpa_demo.ui.MainUI.MyConfiguration" />
    <context:component-scan base-package="com.gp.vaadin.vaadin_spring_jpa_demo" />
    
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="mainDataSource"/>
        <property name="packagesToScan" value="com.gp.vaadin.vaadin_spring_jpa_demo"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
            </props>
        </property>
    </bean>
    
    <bean id="mainDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:/comp/env/jdbc/DSDemo" />
	</bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    	<property name="dataSource" ref="mainDataSource" />
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="rollbackOnCommitFailure" value="true" />
    </bean>
    <tx:annotation-driven/>

    <bean id="persistenceExceptionTranslationPostProcessor" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
    
    <jpa:repositories base-package="com.gp.vaadin.vaadin_spring_jpa_demo.repository" entity-manager-factory-ref="entityManagerFactory" transaction-manager-ref="transactionManager"/>
    
    <util:map id="hotelBulkUpdateFieldsConfig" key-type="java.lang.String" value-type="com.gp.vaadin.vaadin_spring_jpa_demo.bulk_update.BulkUpdateField">
    	<entry key="name" value-ref="textBulkUpdateField" />
    	<entry key="address" value-ref="addressBulkUpdateField" />
    	<entry key="rating" value-ref="ratingBulkUpdateField" />
    	<entry key="operatesFrom" value-ref="dateBulkUpdateField" />
    	<entry key="hotelCategory" value-ref="hotelCategoryBulkUpdateField" />
    	<entry key="url" value-ref="textBulkUpdateField" />
    	<entry key="description" value-ref="textAreaBulkUpdateField" />
    </util:map>
    
    <util:map id="hotelCategoryBulkUpdateFieldsConfig" key-type="java.lang.String" value-type="com.gp.vaadin.vaadin_spring_jpa_demo.bulk_update.BulkUpdateField">
    	<entry key="name" value-ref="textBulkUpdateField" />
    </util:map>
    
    
</beans>